.products {
  width: 15vw;
  display: flex;
  flex-direction: column;
  height: 350px;
  position: relative;
}

.productx{
  height: 500px;
  position: relative;
  width: 25vw;
  display: flex;
  flex-direction: column;
  left: 25%;
  margin-top: 4%;
}

.image {
  width: 100%;
  height: 95%;
  background-size: cover;
  background-position: center;
  margin-bottom: 5px;
  border: 2px solid black;
}


.imagex {
  width: 100%;
  height: 95%;
  background-size: cover;
  background-position: center;
  margin-bottom: 5px;
  border: 2px solid black;
  transition: all 0.3s ease 0s;
}

.imagex:hover{
  transform: scale(1.25);
}

.cart-icon {
  margin-left: 60%;
  margin-bottom: 10px;
  width: 30px;
  height: 30px;
}

.product-detailx{
  position: absolute;
  left: 120%;
  top: 30%;
  width: 100%;
}

.namex {
  font-size: 2.5em;
  font-weight: unset;
}

.pricex {
  font-size: 1em;
}

.cart-iconx {
  margin-left: -15%;
  margin-bottom: -30px;
  margin-top: 20%;
  position: relative;
  width: 50px;
  height: 50px;
}