.text {
  color: black;
  background-color: whitesmoke;
  border-bottom: 3px solid rgb(207, 207, 207);
  position: sticky;
  top: 0px;

  z-index: 1;
}

.links {
  color: black;
  padding: 10px 10px;
  display: block;
}

.links:hover {
  color: white;
  background-color: rgb(180, 179, 179);
  text-decoration: none;
}

.nav-item .dropdownmenu {
  background: white;
}

.nav-item .dropdownitem {
  color: white;
}

.menu {
  background: transparent;
  z-index: 3;
}
.menu ul {
  padding: 0;
  margin: 0;
}
.menu li {
  list-style: none;
  float: left;
  height: 40px;
  line-height: 40px;
  position: relative;
}
.shop {
  padding: 10px 0px;
  display: block;
}

.menu li a {
  color: black;
  text-decoration: none;
  padding: 0px 20px;
  border-left: 1px solid black;
  display: block;
}

.menu li a:hover {
  background: rgb(180, 179, 179);
  color: white;
}

.menu li ul {
  border: 1px solid black;
  border-left: 0px solid black;

  display: none;
  position: absolute;
  background: whitesmoke;
}
.menu li:hover > ul {
  display: block;
}
.menu li li {
  float: none;
  width: 200px;
}

.menu li ul ul {
  left: 200px;
  top: -0px;
}
